@using Web.ViewModels
@model IEnumerable<BookViewModel>

<table id="booksTable" class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Genre</td>
                <td>@book.Price.ToString("C")</td>
                <td>@book.AuthorName</td>
                <td>
                    @if (!User.IsInRole("ViewAuthorsBooks") && !User.HasClaim("BooksEdit", "false"))
                    {
                        <a asp-action="Edit" asp-route-id="@book.Id" class="btn btn-primary btn-sm">Edit</a>
                    }
                    <a asp-action="Details" asp-route-id="@book.Id" class="btn btn-dark btn-sm">Details</a>
                    @if (!User.IsInRole("ViewAuthorsBooks") && !User.HasClaim("BooksDelete", "false"))
                    {
                        <button class="btn btn-danger btn-sm" onclick="openDeleteBookModal(@book.Id, '@book.Title')">Delete</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
