@using Web.ViewModels
@model IEnumerable<AuthorViewModel>

<table id="authorsTable" class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Nationality</th>
            <th>Birth Date</th>
            <th>Number of Books</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.Name</td>
                <td>@author.Nationality</td>
                <td>@author.BirthDate.ToShortDateString()</td>
                <td>@author.TotalBooks</td>
                <td>
                    @if (!User.IsInRole("ViewAuthorsBooks") && !User.HasClaim("AuthorsEdit", "false"))
                    {
                        <a asp-action="Edit" asp-route-id="@author.Id" class="btn btn-primary btn-sm">Edit</a>
                    }
                    <a asp-action="Details" asp-route-id="@author.Id" class="btn btn-dark btn-sm">Details</a>
                    @if (!User.IsInRole("ViewAuthorsBooks") && !User.HasClaim("AuthorsDelete", "false"))
                    {
                        <button class="btn btn-danger btn-sm" onclick="openDeleteAuthorModal(@author.Id, '@author.Name')">Delete</button>
                    }                  
                </td>
            </tr>
        }
    </tbody>
</table>
